html, body {
    min-height: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(
        to right, 
        rgba(212, 212, 212, 0.466), 
        rgba(255, 255, 255, 0.897), 
        rgba(212, 212, 212, 0.466));
}

img.article-img {
    width: 50%;
    height: 50%;
}