{% macro displayCategories() %}
    <div class="row p-3 d-flex justify-content-center">
        <a href="/general" id="/general" onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none rounded-left btn-outline-danger my-2 px-2 py-1 border border-danger">
                General
        </a>
        <a href="/business" id="/business" onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none btn-outline-danger my-2 px-2 py-1 border border-danger">
                Business
        </a>
        <a href="/entertainment" id="/entertainment" onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none btn-outline-danger my-2 px-2 py-1 border border-danger">
                Entertainment
        </a>
        <a href="/health" id="/health" onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none btn-outline-danger my-2 px-2 py-1 border border-danger">
                Health
        </a>
        <a href="/science" id="/science"  onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none btn-outline-danger my-2 px-2 py-1 border border-danger">
                Science
        </a>
        <a href="/sports" id="/sports"  onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none btn-outline-danger my-2 px-2 py-1 border border-danger">
                Sports
        </a>
        <a href="/tech" id="/tech" onmouseover="toggleSelected(this)" onmouseout="undoToggling(this)"
            class="category-button text-decoration-none rounded-right btn-outline-danger my-2 px-2 py-1 border border-danger">
                Technology
        </a>
    </div>
{% endmacro %}

{{_self.displayCategories()}}
